/* --- [ CONTENT SECTIONS ] --- */
.content-section {
    display: none;
    padding: 20px;
    border: 1px solid var(--border-color);
    animation: content-fade-in 0.5s ease;
}

.content-section p {
    line-height: 1.6;
    margin-bottom: 1em;
}

#home-content { display: block; }
