/* --- [ WINAMP PLAYER ] --- */
#winamp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 275px;
    border: 1px solid var(--border-color);
    background: #222;
    z-index: 500;
    user-select: none;
    cursor: grab;
}
.winamp-title-bar {
    background: #111;
    color: var(--main-color);
    padding: 3px 5px;
    font-size: 0.8em;
    display: flex;
    justify-content: space-between;
}
.winamp-content { padding: 10px; }
.winamp-display {
    background: #000;
    border: 1px solid #000;
    padding: 5px;
    margin-bottom: 10px;
    text-align: right;
    font-size: 1.2em;
}
#winamp-time {
    color: var(--main-color);
    text-shadow: 0 0 5px var(--glow-color);
}
.winamp-controls {
    display: flex;
    justify-content: space-around;
}
.winamp-btn {
    background: #444;
    border: 1px solid #555;
    color: #ccc;
    padding: 5px 10px;
    cursor: pointer;
    font-family: var(--font);
}
.winamp-btn:hover { background: #555; }
.winamp-btn:active { background: var(--main-color); color: #000; }
.winamp-visualizer {
    height: 20px;
    background: #000;
    margin-top: 10px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    gap: 2px;
    padding: 2px;
}
.vis-bar {
    flex-grow: 1;
    background: var(--main-color);
    box-shadow: 0 0 3px var(--glow-color);
    transition: height 0.05s linear;
}
